<div id="full-app" class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-5">
        <div class="row current-date">{{ currentDate | date :'fullDate' }}</div>
        <div class="row current-time">
          <div class="col-5 current-time-hours-minutes">{{currentDate | date:'h:mm'}}</div>
          <div class="col-2 current-time-seconds">{{currentDate | date:'ss'}}</div>
          <div class="col-5 current-time-meridiem">{{currentDate | date:'aaa'}}</div>
        </div>
        <div class="row calendar-section">
          <div class="col-12 calendar">
            <div class="row">
              <div class="col-12 calendar-header">CALENDAR</div>
            </div>
            <div class="row calendar-instance" *ngFor="let event of calendar">
              <div class="calendar-icon"><i class="fas {{event.icon}}"></i></div>
              <div class="col-6 calendar-event" style="overflow:visible">{{event.name}}</div>
              <div class="col-6 calendar-date">{{event.daysUntil}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-5 weather" *ngIf="weather">
        <div class="row current-wind-and-sets">
            <div class="col-5 current-wind"><i class="fas fa-wind"></i>&nbsp;{{weather.current.wind_speed | number:'1.1-1'}}</div>
            <ng-container *ngIf="currentDate.getTime() > (weather.current.sunrise * 1000) && currentDate.getTime() < (weather.current.sunset * 1000)">
              <div class="col-7 current-sets"><i class="fas fa-moon"></i>&nbsp;{{weather.current.sunset * 1000 | date:'h:mm aaa'}}</div>
            </ng-container>
            <ng-container *ngIf="currentDate.getTime() > (weather.current.sunset * 1000) && currentDate.getTime() < (weather.daily[1].sunrise * 1000)">
              <div class="col-7 current-sets"><i class="fas fa-sun"></i>&nbsp;{{weather.daily[1].sunrise * 1000 | date:'h:mm aaa'}}</div>
            </ng-container>
        </div>
        <div class="row current-weather">
          <div class="col-2"></div>
          <div class="col-3 current-weather-img"><img [src]="weatherService.getIconUrl(weather.current.weather[0].icon)"></div>
          <div class="col-7 current-weather-value">{{weather.current.temp | number:'1.0-0'}}&deg;</div>
        </div>
        <div class="row future-weather-section">
          <div class="col-12 future-weather">
            <div class="row">
              <div class="col-12 future-weather-header">WEATHER</div>
            </div>
            <div class="row future-weather-instance" *ngFor="let day of weather.daily">
              <div class="col-3 future-weather-day">{{day.dt * 1000 | date:'EEE'}}</div>
              <div class="col-3 future-weather-icon"><img [src]="weatherService.getIconUrl(day.weather[0].icon)"></div>
              <div class="col-3 future-weather-high">{{day.temp.max | number:'1.0-0'}}</div>
              <div class="col-3 future-weather-low">{{day.temp.min | number:'1.0-0'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>