#full-app {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	color: white;
	height: 100%;
	min-height:100vh;
	font-family: "Roboto-ThinItalic";
	padding: 25px;
	/*padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 5vh;
	padding-bottom: 5vh;*/
	overflow: hidden;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.current-date {
	font-size: 3vw;
	opacity: 0.75;
	height: 10vh;
}
.current-time {
	height: 25vh;
	width: 100%;
}
.current-time-hours-minutes {
	font-size: 8vw;
	text-align: right;
}
.current-time-seconds {
	font-size: 3vw;
	width: 100%;
	text-align: center;
}
.current-time-meridiem {
	font-size: 8vw;
	text-align: left;
}
.calendar-section {
	font-size: 2vw;
	height: 10vh;
}
.calendar-header {
	border-bottom: 1px solid white;
	margin-bottom: 1vh;
}
.calendar-instance {
	display: flex;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
	height: 5vh;
}

.weather {
	text-align: right;
	width: 100%;
	height: 100%;
}
.current-wind-and-sets {
	font-size: 3vw;
	opacity: 0.75;
	height: 10vh;
}
.current-weather {
	height: 25vh;
}
.current-weather-value {
	font-size: 15vh;
	text-align: center;
}
.current-weather-img img {
	height: 100%;
}
.future-weather-section {
	font-size: 2vw;
	height: 10vh;
}
.future-weather-header {
	border-bottom: 1px solid white;
	margin-bottom: 1vh;
}
.future-weather-instance {
	display: flex;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
	height: 5vh;
}
.future-weather-instance img {
	height: 5vh;
}